<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>상품 리스트</h1>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>상품명</th>
      <th>가격</th>
      <th>수량</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <th><a href="item.html">1</a></th>
    <th><a href="item.html">상품1</a></th>
    <th><a href="item.html">20000</a></th>
    <th><a href="item.html">100</a></th>
  </tr>
  <tr>
    <th>2</th>
    <th>상품2</th>
    <th>30000</th>
    <th>200</th>
  </tr>
  <tr>
    <th>3</th>
    <th>상품3</th>
    <th>30000</th>
    <th>300</th>
  </tr>
  </tbody>
</table>
</body>
</html>