<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1>상품 등록</h1></div>
<form action="/basic/add" method="post">
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" placeholder="상품명을 입력해주세요"></input>
    </div>
    <div>
        <label for="price">금액</label>
        <input type="text" id="price" name="price" placeholder="상품의 판매금액을 입력해주세요"></input>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" placeholder="상품의 수량을 입력해주세요"></input>
    </div>
    <div>
        <button type="submit">등록</button>
        <button type="button" th:onclick="|location.href='@{/basic/items}'|">취소</button>
    </div>
</form>
</body>
</html>