<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1>로그인</h1></div>
<form action="/login" method="post" th:object="${Member}">
    <div>
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력해주세요"></input>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <!--type password로 하면 입력할 때 암호화돼서 봉짐-->
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요"></input>
    </div>
    <div>
        <button type="submit">로그인</button>
        <button type="button" th:onclick="|location.href='@{/'|">취소</button>
    </div>
</form>
</body>
</html>